@font-face {font-family: Allura; src: url("./fonts/Allura-Regular.ttf");}
@font-face {font-family: Amellia; src: url("./fonts/Amellia.ttf");}

body {
  background-color: #ffd0ca;
}
.page-wrapper {
  width: 100%;
  height: 100%;
  margin: 15px;
  font-family: Allura;
}

#logo {
  width: 200px;
  height: auto;
  border-radius: 100%;
  display: inline:block;
}
#special {
  width: 500px;
  position: absolute;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 50%;
  border-radius: 100%;
}
.navbar {
  width: 750px;
}
.navbar > li {
  list-style: none;
  display: inline-block;
  padding: 8px;
  padding-right: 30px;

}
.navbar > li:not(:last-child) {
  border-right: 2px solid #c37f79;
}
.navbar > li > a {
  color: #c37f79;
  text-decoration: none;
  font-size: 50px;
}

#welcome {
  font-size: 100px;
  color: #c37f79;
  margin: auto;
  margin-top: 0px;
  margin-left: 25%;
}
.welcome {
  height: 500px;
}

#enjoy {
  font-size: 100px;
  text-align: right;
  margin: auto;
  margin-left: 25%;
  color: #c37f79;
}

p {
  width: 75%;
  height: fit-content;
  font-size: 50px;
  font-family: Allura;
  margin: auto;
  text-indent: 50px;
}

#Amelia {
  border-radius: 100%;
  width: 75%;
  border: 20px solid #c37f79;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.brand {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: .1;
}

#gallery {
  line-height: 0;
  column-count: 5;
  column-gap: 15px;
}

@media screen and (max-width:1200px) {
  #gallery {
    column-count: 4;
    column-gap: 10px;
  }
}

@media screen and (max-width:1000px) {
  #gallery {
    column-count: 3;
  }
}

@media screen and (max-width:800px) {
  #gallery {
    column-count: 2;
  }
}

@media screen and (max-width:400px) {
  #gallery {
    column-count: 1;
    width: 100%;
  }
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 15px;
}


#button {
  width: fit-content;
  height: auto;
  font-size: 50px;
  background-color: #c37f79;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
  font-family: Perpetua;
  text-decoration: none;
  color: black;
  box-shadow: -2px -2px;

}
#button:active, #submit:active {
  box-shadow: none;
}
a {
  text-decoration: none;
}

.slides {
  width: 500px;
  height: auto;
  margin: auto;
}
.side {
  width: 200px;
  filter: blur(10px);
}
@media screen and (max-width: 950px) {
  .side {
    opacity: 0;
    position: absolute;
    left: 25%;
    width: 100%;
  }
}

form {
  margin: auto;
  width: 50%;
  text-align: center;
}
span {
  font-size: 50px;
}
#contactname {
  width: 50%;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

#submit {
  width: fit-content;
  padding: 15px;
  font-size: 30px;
  background-color: #c37f79;
  border-radius: 50%;
  box-shadow: -2px -2px;
}

#commission {
  width: 50%;
  height: 200px;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .left, .right {
    display: none;
  }
}

.mobile {
  display: none;
}
.web {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }

  #Amelia {
    margin-left: 25%;
    margin-right: 25%;
    height: 75%;
  }

  #about, #button {
    margin-right: 25%;
    margin-left: 25%;
  }

}
